header{
    background-color: aqua;
    height: 100px;
    line-height: 100px;
    width: 100%;
}
nav{
    background-color: red;
    width: 12em;
    float: left;
    height: 90%;
    
    padding-top: 10px;
    
}
section{
    background-color: orange;
    height: 90%;
    padding-top: 10px;
}
footer{
    height: 12%;
    background-color: darkgreen;
    padding-top: 10px;
}
h1{
    text-align: center;
}
body{
    height: 800px;
}